@import 'general.sass'

.container-about
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 100px

    div
        background-color: $maincolor
        max-width: 1023px
        width: 70%
        padding: 10px
        border-radius: 5px
        margin-bottom: 20px
        margin-top: 20px
        display: flex
        justify-content: space-between
        align-items: center
    
    p
        padding: 0px 10px 0px 10px
        font-size: 24px
    
    i
        color: white
    
    .fa-chevron-down
        display: none

@media screen and (max-width: 767px)
   .container-about
        div
            width: calc(100% - 70px)
        
        p
            font-size: 13px