@import 'general.sass'

.footer-container
    display: flex
    flex-direction: column
    min-height: 100vh

    .spacer
        flex-grow: 1

    .footer
        background-color: black
        flex-shrink: 0
        flex: 0 0 auto
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 30px
        padding-bottom: 30px

        img
            width: 122px
            height: auto

        p
            color: white
            font-size: 24px
            padding-top: 20px
            margin: 0

@media screen and (max-width: 767px)

    .footer-container
        .footer
            p
                font-size: 12px
