@import 'general.sass'

.footer
    background-color: black
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding-top: 30px
    padding-bottom: 30px

    img
        width: 122px
        height: auto
    
    p
        color: white
        font-size: 24px
        padding-top: 20px

@media screen and (max-width: 767px)

    .footer
        p
            font-size: 12px